<footer class="footer">
    <div class="grid wide mb-6">
        <div class="grid__row">
            <div class="text-center grid__column-2-4 l-2-4 m-4 c-6 c-s-6">
                <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                <ul class="footer__list">
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Trung Tâm Trợ Giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Shopee Blog</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Shopee Mall</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Hướng Dẫn Mua Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Hướng Dẫn Bán Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Thanh Toán</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Shopee Xu</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Vận Chuyển</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Trả Hàng & Hoàn Tiền</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Chăm Sóc Khách Hàng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Chính Sách Bảo Hành</a>
                    </li>

                </ul>
            </div>
            <div class="text-center grid__column-2-4 l-2-4 m-4 c-6 c-s-6">
                <h3 class="footer__heading">VỀ SHOPEE</h3>
                <ul class="footer__list">
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Giới Thiệu Về Shopee Việt Nam</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Tuyển Dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Điều Khoản Shopee</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Chính Sách Bảo Mật</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Chính Hãng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Kênh Người Bán</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Flash Sales</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Chương Trình Tiếp Thị Liên Kết Shopee</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer__item-link">Liên Hệ Với Truyền Thông</a>
                    </li>
                </ul>
            </div>
            <div class="text-center grid__column-2-4 l-2-4 m-4 c-6 c-s-6">
                <h3 class="footer__heading">THANH TOÁN</h3>
            </div>
            <div class="text-center grid__column-2-4 l-2-4 m-4 c-6 c-s-6">
                <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                <ul class="footer__list">
                    <li class="footer-item footer-item-icon">
                        <a href="https://www.facebook.com/manh1106/" class="footer__item-link footer__item-link-icon">
                            <img src="./assets/img/Facebook-f_Logo-Blue-Logo.wine.svg"
                                class="footer__item-link-icon-img" alt="">
                            <span class="footer__item-link-icon-name">Facebook</span>
                        </a>
                    </li>
                    <li class="footer-item footer-item-icon">
                        <a href="https://www.instagram.com/mh.hung_/" class="footer__item-link footer__item-link-icon">
                            <img src="./assets/img/Instagram-Logo.wine.svg" class="footer__item-link-icon-img" alt="">
                            <span class="footer__item-link-icon-name">Instagram</span>
                        </a>
                    </li>
                    <li class="footer-item footer-item-icon">
                        <a href="https://www.linkedin.com/in/m%E1%BA%A1nh-h%C3%B9ng-ng%C3%B4-160354233/" class="footer__item-link footer__item-link-icon">
                            <img src="./assets/img/LinkedIn-Icon-Logo.wine.svg" class="footer__item-link-icon-img"
                                alt="">
                            <span class="footer__item-link-icon-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4 l-2-4 m-8 c-12 footer-download-app">
                <h3 class="footer__heading">TẢI ỨNG DỤNG SHOPEE NGAY THÔI</h3>
                <div class="footer__download">
                    <img src="./assets/img/qr_code.png" alt="Download QR" class="footer__download-qr">
                    <div class="footer__download-apps">
                        <a href="#" class="footer__download-apps-link">
                            <img src="./assets/img/ggplay.png" alt="Google Play" class="footer__download-app-img">
                        </a>
                        <a href="#" class="footer__download-apps-link">
                            <img src="./assets/img/appstore.png" alt="App Store" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__mid">
        <div class="footer__mid--center">
            <div class="footer__mid-permission">© 2022 Shopee. Tất cả các quyền được bảo lưu.</div>
            <div class="footer__mid-area">
                <div class="footer__mid-area-span">Quốc gia & Khu vực: </div>
                <a href="#" class="footer__mid-area-link">Singapore</a>
                <a href="#" class="footer__mid-area-link">Indonesia</a>
                <a href="#" class="footer__mid-area-link">Đài Loan</a>
                <a href="#" class="footer__mid-area-link">Thái Lan</a>
                <a href="#" class="footer__mid-area-link">Malaysia</a>
                <a href="#" class="footer__mid-area-link">Việt Nam</a>
                <a href="#" class="footer__mid-area-link">Philippines</a>
                <a href="#" class="footer__mid-area-link">Brazil</a>
                <a href="#" class="footer__mid-area-link">México</a>
                <a href="#" class="footer__mid-area-link">Colombia</a>
                <a href="#" class="footer__mid-area-link">Chile</a>
                <a href="#" class="footer__mid-area-link">Poland</a>
                <a href="#" class="footer__mid-area-link">Spain</a>
                <a href="#" class="footer__mid-area-link">France</a>
                <a href="#" class="footer__mid-area-link">India</a>
                <a href="#" class="footer__mid-area-link">Argentina</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-container">
            <div class="footer__bottom-policy">
                <a href="#" class="footer__bottom-policy-link">
                    <div class="footer__bottom-policy--item">CHÍNH SÁCH BẢO MẬT</div>
                </a>
                <a href="#" class="footer__bottom-policy-link">
                    <div class="footer__bottom-policy--item">QUY CHẾ HOẠT ĐỘNG</div>
                </a>
                <a href="#" class="footer__bottom-policy-link">
                    <div class="footer__bottom-policy--item">CHÍNH SÁCH VẬN CHUYỂN</div>
                </a>
                <a href="#" class="footer__bottom-policy-link">
                    <div class="footer__bottom-policy--item">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</div>
                </a>
            </div>
            <div class="footer__bottom-company">Công ty TNHH Shopee</div>
            <div class="mt-8">Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc
                Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 19001221 - Email:
                cskh@hotro.shopee.vn</div>
            <div class="mt-8">Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024
                73081221 (ext 4678)</div>
            <div class="mt-8">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày
                10/02/2015</div>
            <div class="mt-8">© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</div>
        </div>
    </div>
</footer>