@media only screen and (max-width: 1023px) {


    .hideOnTableAndMobile {
        display: none;
    }

    .header-with-search {
        margin: 0;
    }

    .header__sort-bar {
        display: flex;
    }

    header.header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        z-index: 10;
    }

    .app_content {
        padding-top: calc(var(--header-width-search-height) + 56px);
    }

    .wide {
        width: auto;
        padding: 0px 4%;
    }

    .header__cart-list {
        position: fixed;
        left: 0;
        top: calc(var(--header-width-search-height) + 16px);
        width: 100%;
        border-radius: 0;
        z-index: 10;
        padding: 0 2%;
        margin-top: 16px;
    }

    .header__cart-list-item {
        height: 20vh;
        z-index: 10;
    }

    .product {
        width: 100% !important;
    }

    .header__cart-list::after {
        border-color: transparent;
        border-width: 16px 24px;
        right: 4%;
        top: -32px;
    }

    .mobile-category {
        display: block;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 120px;
        --navbar-height: 0;
    }

    .home-product {
        margin-top: 70px;
    }

    .hideOnTable {
        display: none;
    }

    .header {
        height: var(--header-width-search-height);
    }

    .header__cart {
        width: 60px;
        text-align: right;
    }

    .header__sort-bar {
        top: calc(var(--header-width-search-height) + 26px) !important;
    }


}

@media only screen and (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 16px;
    }

    .hideOnMobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-around;
    }

    .footer__bottom-policy,
    .footer__mid--center {
        display: block;
        text-align: center;
    }

    .footer__mid-permission {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer__bottom-policy-link~.footer__bottom-policy-link {
        border: none;
    }

    .footer__bottom-policy-link {
        display: block;
        margin: 10px 0;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header-logo,
    .header__cart {
        width: unset;
    }

    .header-search {
        display: flex;
        position: fixed;
        top: calc(var(--header-width-search-height) + 16px);
        left: 0;
        right: 0;
        z-index: 10;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
        padding: 0 8px;
        animation: mobile-search linear .3s;
        display: none;
    }

    .header-search-history {
        position: fixed;
        top: calc(var(--header-width-search-height) + var(--header__sort-bar) + 16px);
        left: 0;
        right: 0;
        width: 100%;
    }

    #mobile-search-checkbox:checked~.header-search {
        display: flex;
    }

    .header__mobile-search {
        display: block;
    }

    .header-search {
        border-radius: unset;
    }

    .header-logo-img {
        width: 110px;
    }

    @keyframes mobile-search {
        0% {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }

        100% {
            opacity: 1;
            top: calc(var(--header-width-search-height) + 16px);
        }
    }

    .footer-download-app {
        text-align: center;
    }

    .footer__download {
        justify-content: center;
    }

    .text-center {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .c-s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}